* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.box {
    display: none;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
    .left {
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

        header {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-bottom: 1px solid gray;

            h1 {
                color: white;
                font-size: 25px;
            }



            button {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
                color: white;
                right: 0;
                top: 50%;
                transform: translate(50%, -50%);

                &:hover {
                    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
                    color: #00dbde;
                }
            }

        }



        ul {
            padding: 0 20px;
            margin: 0;
            color: white;

            li {
                margin-top: 10px;
                gap: 10px;
                font-size: 15px;
                padding: 10px;
                border-radius: 12px 12px 12px 0;
                /* Thay đổi này sẽ bo 3 góc, để góc dưới trái vuông */
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 4px;
                    background: white;
                    transform: scaleY(0);
                    transition: transform 0.3s ease;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 4px;
                    background: white;
                    transform: scaleX(0);
                    transition: transform 0.3s ease;
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.15);
                    transform: translate(10px, -10px);
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

                    &::before {
                        transform: scaleY(1);
                    }

                    &::after {
                        transform: scalex(1);
                    }
                }

            }
        }
    }

    .right {
        flex: 1;
        background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);

        .tab {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid gray;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            padding: 0px 30px;

            h1 {
                color: white;
                font-size: 25px;
            }

            .tb {
                button {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
                    color: white;

                    &:hover {
                        background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
                        color: yellow;
                    }
                }

            }

            .anh {

                position: relative;

                .u {
                    border-radius: 50%;
                    border: 1px solid orangered;
                    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);

                    &:hover {
                        background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
                    }

                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }
                }

                .log {
                    position: absolute;
                    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
                    padding: 10px;
                    white-space: nowrap;
                    right: 0;
                    top: 50px;
                    z-index: 2;
                }

            }
        }

        .order {
            .xe {
                background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

            }

            .quantity {
                background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }

            img {
                width: 150px;
                padding-bottom: 20px;
            }
        }

        .choose {
            .chonBan {
                position: relative;
                border-radius: 30px;
                width: 100%;

                select {
                    border-radius: 30px;
                    padding: 13px;
                    width: 100%;
                }

                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    padding: 8px 33px;
                    border-radius: 30px;
                    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
                    color: white;
                    border: none;
                    transition: 0.3s;

                    &:hover {
                        background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
                        color: yellow;
                    }
                }
            }

            .search {
                input {
                    padding: 13px;
                    border-radius: 30px;
                    width: 100%;
                    border: 1px solid #ccc;
                }

                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    padding: 8px 20px;
                    border-radius: 30px;
                    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
                    color: white;
                    border: none;
                    transition: 0.3s;

                    &:hover {
                        background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
                        color: yellow;
                    }
                }
            }

            .add {
                button {
                    padding: 13px;
                    border-radius: 30px;
                    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
                    color: white;
                    border: none;
                    width: 100%;
                    transition: 0.3s;

                    &:hover {
                        background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
                        color: yellow;
                    }
                }
            }
        }

        .food {
            img {
                width: 250px;
                margin: auto;
                padding-top: 10px;
                height: 200px;
            }

            .monAn {
                position: relative;
                padding: 15px 10px 0px 10px;

                p {
                    position: absolute;
                    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    color: white;
                    align-items: center;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translate(-20%, 50%);

                    button {
                        border: none;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);

                        &:hover {
                            background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
                        }
                    }

                    .fa-pen-to-square {
                        color: green;

                        &:hover {
                            color: yellow;
                        }
                    }

                    .fa-trash {
                        color: orangered;

                        &:hover {
                            color: yellow;
                        }
                    }
                }
            }



            .editQuantity {
                text-align: center;
                margin-top: 0px;

                button {
                    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    color: white;
                    align-items: center;
                    text-align: center;
                    justify-content: center;

                    &:hover {
                        color: red;
                        background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
                    }
                }

                input {
                    width: 100px;
                    padding: 10px 5px;
                    border-radius: 10px;
                    border: 1px solid gray;
                    text-align: center;
                    font-weight: bold;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    -moz-appearance: textfield;
                }
            }
        }

    }





}

/* laptop */
@media screen and (min-width: 741px) {
    body {
        display: flex;

        .left {
            height: 100vh;
        }

        .right {
            .box {
                height: calc(100vh - 70px);
                overflow: auto;
            }
        }

    }
}

@media screen and (max-width: 740px) {
    body {
        .left {
            header {
                button {
                    transform: translate(-50%, -50%);
                }
            }

            .menu {
                display: none;
            }
        }

    }
}