* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    .left {
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

        header {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-bottom: 1px solid white;

            h1 {
                color: white;
                font-size: 25px;
            }

            button {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
                color: white;
                right: 0;
                top: 50%;
                transform: translate(50%, -50%);
            }

        }



        ul {
            padding: 0 20px;
            margin: 0;
            color: white;

            li {
                margin-top: 10px;
                gap: 10px;
                font-size: 15px;
                padding: 10px;
                border-radius: 12px 12px 12px 0;
                /* Thay đổi này sẽ bo 3 góc, để góc dưới trái vuông */
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 4px;
                    background: white;
                    transform: scaleY(0);
                    transition: transform 0.3s ease;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 4px;
                    background: white;
                    transform: scaleX(0);
                    transition: transform 0.3s ease;
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.15);
                    transform: translate(10px, -10px);
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

                    &::before {
                        transform: scaleY(1);
                    }

                    &::after {
                        transform: scalex(1);
                    }
                }

            }
        }
    }

    .right {
        flex: 1;

        header {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid white;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            padding: 0px 30px;

            h1 {
                color: white;
                font-size: 25px;
            }

            button {

                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
                color: white;
            }

            .anh {
                width: 35px;
                height: 35px;

                img {
                    border-radius: 50%;
                }


            }
        }

        .main-right {
            background: #f3f4f6;
        }
    }


}

/* laptop */
@media screen and (min-width: 741px) {
    body {
        display: flex;

        .left {
            height: 100vh;
        }

    }
}

@media screen and (max-width: 740px) {
    body {
        .left {
            header {
                button {
                    transform: translate(-50%, -50%);
                }
            }

            .menu {
                display: none;
            }
        }

    }
}