* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}
    

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
.img_pay {
    width: 30px;
}
:root {
    --bg-btn: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}

hr {
    width: 100%;
    opacity: 1;
}

.cartt {
    th {
        background: none;
        color: red;
    }

}

.anhTable {
    width: 50px;
}



.bg-yg {
    background-image: var(--bg-btn);
}

.box {
    display: none;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal-header {
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
    border-bottom: 3px solid yellow;
}

.close {
    background-color: white;
    border-radius: 50%;
}

body {
    margin: 0;

    .left {
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

        header {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-bottom: 1px solid gray;

            h1 {
                color: white;
                font-size: 25px;
            }



            button {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
                color: white;
                right: 0;
                top: 50%;
                transform: translate(50%, -50%);

                &:hover {
                    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
                    color: #00dbde;
                }
            }

        }



        ul {
            padding: 0 20px;
            margin: 0;
            color: white;

            li {
                margin-top: 10px;
                gap: 10px;
                font-size: 15px;
                padding: 10px;
                border-radius: 12px 12px 12px 0;
                /* Thay đổi này sẽ bo 3 góc, để góc dưới trái vuông */
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 4px;
                    background: white;
                    transform: scaleY(0);
                    transition: transform 0.3s ease;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 4px;
                    background: white;
                    transform: scaleX(0);
                    transition: transform 0.3s ease;
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.15);
                    transform: translate(10px, -10px);
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

                    &::before {
                        transform: scaleY(1);
                    }

                    &::after {
                        transform: scalex(1);
                    }
                }

            }
        }
    }

    .right {
        flex: 1;
        background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);

        .tab {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid gray;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            padding: 0px 30px;

            h1 {
                color: white;
                font-size: 25px;
            }

            .tb {
                button {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
                    color: white;

                    &:hover {
                        background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
                        color: yellow;
                    }
                }

            }

            .anh {

                position: relative;

                .u {
                    border-radius: 50%;
                    border: 1px solid orangered;
                    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);

                    &:hover {
                        background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
                    }

                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }
                }

                .log {
                    position: absolute;
                    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
                    padding: 10px;
                    white-space: nowrap;
                    right: 0;
                    top: 50px;
                    z-index: 2;
                }

            }
        }

        .order {
            /* .xe {
                background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

            } */

            .quantity {
                background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }

            img {
                width: 150px;
                padding-bottom: 20px;
            }
        }

        .choose {
            .chonBan {
                position: relative;
                border-radius: 30px;
                width: 100%;

                select {
                    border-radius: 30px;
                    padding: 13px;
                    width: 100%;
                }

                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    padding: 8px 33px;
                    border-radius: 30px;
                    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
                    color: white;
                    border: none;
                    transition: 0.3s;

                    &:hover {
                        background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
                        color: yellow;
                    }
                }
            }

            .search {
                input {
                    padding: 13px;
                    border-radius: 30px;
                    width: 100%;
                    border: 1px solid #ccc;
                }

                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    padding: 8px 20px;
                    border-radius: 30px;
                    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
                    color: white;
                    border: none;
                    transition: 0.3s;

                    &:hover {
                        background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
                        color: yellow;
                    }
                }
            }

            .add {
                button {
                    padding: 13px;
                    border-radius: 30px;
                    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
                    color: white;
                    border: none;
                    width: 100%;
                    transition: 0.3s;

                    &:hover {
                        background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
                        color: yellow;
                    }
                }
            }
        }

        .food {
            img {
                /* width: 250px; */
                margin: auto;
                padding-top: 10px;
                height: 150px;
                padding: 5px;
            }

            .monAn {
                position: relative;
                padding: 15px 10px 0px 10px;

                p {
                    position: absolute;
                    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    color: white;
                    align-items: center;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translate(-20%, 50%);

                    button {
                        border: none;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);

                        &:hover {
                            background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
                        }
                    }

                    .fa-pen-to-square {
                        color: green;

                        &:hover {
                            color: yellow;
                        }
                    }

                    .fa-trash {
                        color: orangered;

                        &:hover {
                            color: yellow;
                        }
                    }
                }
            }



            .editQuantity {
                text-align: center;
                margin-top: 0px;

                button {
                    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    color: white;
                    align-items: center;
                    text-align: center;
                    justify-content: center;

                    &:hover {
                        color: red;
                        background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
                    }
                }

                input {
                    width: 60px;
                    padding: 10px 5px;
                    border-radius: 10px;
                    border: 1px solid gray;
                    text-align: center;
                    font-weight: bold;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    -moz-appearance: textfield;
                }
            }
        }

        .bills {
            .card {
                box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            }

            .card-header {
                background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
                color: white;
            }

            .card-body {
                background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
            }

            .card-footer {
                background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
            }
        }

        .infor {
            margin-top: 50px;

            .in4 {
                margin: auto;
                border-radius: 20px;
                overflow: hidden;
                box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
                background: white;
                max-width: 700px;
                width: 100%;
            }

            .infor-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;

                transition: all 0.4s ease;

                .anhUser {
                    position: relative;
                    width: 120px;
                    height: 120px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 20px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: -15px;
                        left: -15px;
                        right: -15px;
                        bottom: -15px;

                        background-color: #ff4d4d;
                        z-index: 0;

                        border-radius: 50%;
                        clip-path: polygon(0% 0%, 50% 0%, 100% 0%,
                                100% 50%, 100% 100%, 50% 100%,
                                0% 100%, 0% 50%, 0% 0%, 0% 0%);

                        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
                        transform: rotate(720deg);
                    }

                    img {
                        position: relative;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;

                        transition: none;
                    }
                }

                p {
                    margin-top: 5px;
                    color: #777;
                    font-size: 0.9rem;
                    transition: color 0.3s;
                    font-size: 1.1rem;
                }

                button {
                    margin-top: 20px;
                    color: white;
                    padding: 8px 5px;
                    border: none;
                    border-radius: 50px;
                    width: 100px;
                    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
                    color: white;

                    i {
                        margin-right: 8px;
                    }

                    &:hover {

                        background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
                        color: red;
                    }
                }

                &:hover {
                    background-color: #d63031;

                    h2 {
                        color: greenyellow;
                    }

                    p {
                        color: white;

                    }

                    .anhUser::before {
                        background-color: #f1c40f;
                        border-radius: 0;
                        transform: rotate(360deg) scale(1.2);
                        clip-path: polygon(50% 0%, 61% 35%, 98% 35%,
                                68% 57%, 79% 91%, 50% 70%,
                                21% 91%, 32% 57%, 2% 35%, 39% 35%);
                    }
                }
            }

            .infor-right {
                background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                color: white;
                padding: 40px !important;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &:hover {
                    background-image: linear-gradient(135deg, #764ba2 0%, #667eea 100%);
                }

                h2 {
                    font-size: 2rem;
                }

                hr {
                    border: 0;
                    border: 1px solid white;
                    width: 100%;
                    margin: 20px 0;
                    opacity: 1;
                }

                .inforBasic,
                .inforBasic2 {
                    margin-bottom: 15px;

                    h3 {
                        font-size: 1.1rem;

                        margin-bottom: 5px;
                    }

                    p {
                        color: rgba(255, 255, 255, 0.7);
                        font-weight: 500;
                        margin: 0;
                        font-size: 0.9rem;
                    }
                }

                .inforBasic {
                    flex-wrap: wrap;
                    gap: 20px;
                }

                .icon {
                    margin-top: 10px;

                    i {
                        font-size: 1.5rem;
                        cursor: pointer;
                        transition: transform 0.2s;

                        &:hover {
                            transform: scale(2);
                            opacity: 1;
                            color: greenyellow;
                        }
                    }
                }
            }
        }
    }


}

/* Loading Overlay Full Screen */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* Màu nền đen mờ */
    background: rgba(0, 0, 0, 0.6);
    /* Hiệu ứng làm mờ hậu cảnh (Glassmorphism) */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999;
    /* Đảm bảo nằm trên cùng, đè lên cả Modal */

    /* Căn giữa spinner */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Mặc định ẩn đi */
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    /* Khi có class active thì hiện lên */
    &.active {
        opacity: 1;
        visibility: visible;
    }

    .spinner-container {
        i {
            font-size: 60px;
            /* Kích thước lớn */
            /* Màu Gradient cho đẹp */
            background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            /* Hiệu ứng xoay vô tận */
            animation: spinLoading 1s linear infinite;
        }
    }
}

/* Keyframes cho hiệu ứng xoay */
@keyframes spinLoading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* laptop */
@media screen and (min-width: 741px) {
    body {
        display: flex;

        .left {
            height: 100vh;
        }

        .right {
            .box {
                height: calc(100vh - 70px);
                overflow: auto;
            }
        }

    }
}

@media screen and (max-width: 740px) {
    body {
        .left {
            header {
                button {
                    transform: translate(-50%, -50%);
                }
            }

            .menu {
                display: none;
            }
        }

    }
}