* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

body {
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.con{
    border-radius: 20px;
    overflow: hidden;
}

